<li class="media align-items-center shadow-sm mb-2 bg-white" id="<%= "user-#{user.id}" %>">
  <%= gravatar_for(user, class: "mr-3", size: 64) %>
  <div class="media-body">
    <h3 class="h5 mt-0 mb-1"><%= link_to user.name, user %></h3>
    <p class="mb-0"><%= user.email %></p>
  </div>
  <% if can? :destroy, user %>
    <%= link_to(user, method: :delete, data: { confirm: 'Are you sure?' }, class:"close mx-3 text-danger", title: 'Delete', aria: {label: 'Delete'}) do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  <% end %>
</li>
