<% provide(:body_class, 'bg-light') %>
<% provide(:title, "#{@user.name} Profile") %>

<div class="container">
  <div class="row">
    <aside class="col-4">
      <section class="user_info">
        <%= render "shared/user_info", user: @user  %>
      </section>
      <section class="stats">
        <%= render "shared/stats", user: @user %>
      </section>
    </aside>
    <div class="col-8">
      <% if @microposts.any? %>
        <h2>Microposts <small>(<%= @microposts.total_entries %>)</small></h2>
        <ol class="list-unstyled microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    <%= link_to 'Back', users_path %>
  </div>
</div>
