<% provide(:body_class, 'bg-light') %>
<% provide(:title, "#{@user.name} Profile") %>

<div class="container">
  <div class="row">
    <aside class="col-4">
      <%= gravatar_for(@user, class: "gravatar rounded-circle img-thumbnail") %>
      <h1><%= @user.name %></h1>
    </aside>
    <div class="col-8">
      <% if @microposts.any? %>
        <h2>Microposts (<%= @microposts.total_entries %>)</h2>
        <ol class="list-unstyled microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    <%= link_to 'Back', users_path %>
  </div>
</div>
