<div class="container">
  <h1>
    <%= gravatar_for(@user, klass: "gravatar rounded-circle img-thumbnai") %><%= @user.name %>
  </h1>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Posts:</strong>
    <ul>
      <% @user.microposts.select(:id, :content).order(created_at: :desc).each do |micropost| %>
        <li><%= micropost.content%></li>
      <% end %>
    </ul>
  </p>

  <%= link_to 'Back', users_path %>
</div>
