<% provide(:title, 'Log in') %>
<div class="row justify-content-center">
  <div class="col-6">
    <h1>Log in</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.password_field :password, autocomplete: "current-password" %>

      <%= f.form_group :remember_me do %>
        <%= f.check_box :remember_me, custom: :switch if devise_mapping.rememberable?  %>
      <% end %>
      <%= f.primary 'Log in' %>
    <% end %>
  </div>
</div>
