<li class="micropost media shadow-sm mb-2 bg-white" id="<%= "micropost-#{micropost.id}" %>">
  <%= link_to(gravatar_for(micropost.user), micropost.user, class: 'mr-3') %>
  <div class="media-body">
    <h3 class="h5 mt-0 mb-1"><%= link_to(micropost.user.name, micropost.user) %></h3>
    <p class="mb-1"><%= micropost.content %></p>
    <p class="text-muted mb-0">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</p>
  </div>
</li>
