<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to("Toy App", root_path, class: "navbar-brand") %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id='navbarSupportedContent'>
      <ul class="navbar-nav mr-auto">
        <%= nav_item('Home',root_path) %>
        <%= nav_item('Help', help_path) %>
        <%= nav_item('Users', users_path) %>
      </ul>

      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropown">
              <%= nav_dropdown_item("Profile", current_user) %>
              <%= nav_dropdown_item("Settings", "#") %>

              <div class="dropdown-divider"></div>
              <%= nav_dropdown_item("Log out", logout_path, method: :delete) %>
            </div>
          </li>
        <% else %>
          <%= nav_item('Log in', login_path) %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
